body {
    margin: 0;
    background-color: #fff;
}

.container {
    padding: 1rem 2rem;
    margin: 1rem auto;
    text-align: center;
}

.container-2 .row {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
}

.container-2-divider {
    border-top: 1px solid #e9ecef;
    width: 100%;
    height: 60px;
}

.container-3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding: 1rem 4rem;
}

.logo {
    display: block;
    margin: 0 auto 1rem;
}

.title,
.title-2 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.content,
.content-2 {
    max-width: 600px;
    margin: 0 auto;
}

.content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.description,
.description-2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.button-group,
.button-group-2,
.button-group-3 {
    display: flex;
    flex-direction: column;
}

.button-group,
.button-group-2 {
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.button-group-2 {
    margin-bottom: 3rem;
}

.button-group-3 {
    gap: 15px;
}

.btn {
    border: none;
    cursor: pointer;
}

.btn,
.btn-2 {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
}

.btn-3 {
    padding: 10px 20px;
    font-size: 1em;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary-3 {
    border-radius: 5px;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.image-container-2 {
    overflow: hidden;
    max-height: 30vh;
}

.image-2 {
    max-width: 100%;
    border: 1px solid #e9ecef;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.image-section-3 {
    flex: 1;
}

.image-section-3 img {
    max-width: 75%;
    height: auto;
}

.text-section-3 {
    flex: 1;
}

.text-section-3 h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-section-3 p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-primary-3:hover {
    background-color: #0056b3;
}

.btn-secondary-3 {
    background-color: transparent;
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.btn-secondary-3:hover {
    background-color: #e2e6ea;
}

.sticky-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.sticky-btn {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 1em;
    background-color: #66007a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: -140px;
    left: -200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    display: none;
    /* z-index: 1px; */
}

.dropdown-item {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show-dropdown {
    display: block;
}

.light-svg,
.moon-svg {
    display: none;
}

.container-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 0 2rem;
}

.container-4 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
}

.container-4 .text-content {
    flex: 1;
    text-align: center;
}

.container-4 .description {
    margin-bottom: 2rem;
}

.container-4 .form-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.container-4 .sign-up-form {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.container-4 .form-group {
    margin-bottom: 1rem;
}

.container-4 .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.container-4 .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.container-4 .form-group input[type="checkbox"] {
    width: fit-content;
}

.container-4 .checkbox label {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
}

.container-4 .checkbox input {
    margin-right: 0.5rem;
}

.container-4 .btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.container-4 .btn:hover {
    background-color: #0056b3;
}

.container-4 hr {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #ddd;
}

.container-4 small {
    display: block;
    text-align: center;
    color: #777;
    font-size: 0.875rem;
}

.container-5 {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 1200px;
}

.container-5 .row {
    display: flex;
    padding: 0 2rem;
    padding-bottom: 0;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    flex-direction: column;
}

.container-5 .title {
    text-align: center;
}

.container-5 .lead {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.container-5 .button-group {
    margin-bottom: 2rem;
}

.container-5 .btn-primary:hover {
    background-color: #0056b3;
}

.container-5 .btn-secondary:hover {
    background-color: #6c757d;
    color: white;
}

.container-5 .image-wrapper {
    overflow: hidden;
    border-radius: 15px;
    margin-left: auto;
}

.container-5 .image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.hero-section {
    background-color: #343a40;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
}

.hero-section .row {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section .hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
}

.hero-section .text-container {
    max-width: 600px;
    margin: 0 auto;
}

.hero-section .hero-text {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #adb5bd;
}

.hero-section .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
}

.hero-section .btn {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-section .btn-info {
    background-color: transparent;
    border-color: #0dcaf0;
    color: #0dcaf0;
}

.hero-section .btn-info:hover {
    background-color: #0dcaf0;
    color: #343a40;
}

.hero-section .btn-light {
    background-color: transparent;
    border-color: #f8f9fa;
    color: #f8f9fa;
}

.hero-section .btn-light:hover {
    background-color: #f8f9fa;
    color: #343a40;
}


@media screen and (min-width: 768px) {
    .button-group {
        flex-direction: row;
    }

    .button-group-2 {
        flex-direction: row;
    }

    .content-3 {
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 0;
    }

    .text-section-3 {
        text-align: left;
    }

    .button-group-3 {
        flex-direction: row;
        gap: 15px;
    }

    .image-section-3 img {
        max-width: 100%;
    }

    .button-group-3 {
        flex-direction: row;
    }

    .container-4 {
        min-height: 60vh;
        padding: 0 8rem;
    }

    .container-4 .row {
        flex-direction: row;
    }

    .container-5 {
        padding: 3rem 1rem;
    }

    .container-5 .row {
        flex-direction: row;
    }

    .container-5 .title {
        text-align: left;
    }

    .container-5 .image-wrapper {
        overflow: hidden;
        border-radius: 15px;
        margin-left: auto;
        position: relative;
        height: 80vh;
        display: flex;
        flex: 1;
        align-items: center;
    }

    .container-5 .image {
        width: fit-content;
        object-fit: cover;
        height: 70vh;
        border-radius: 15px;
        position: absolute;
    }
}