body {
    margin: 0;
}

.container {
    padding: 1rem 2rem;
    margin: 1rem auto;
    text-align: center;
}

.container-2-wrapper {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
}

.container-2-divider {
    border: 1px solid #e9ecef;
    width: 100%;
    height: 60px;
}

.container-3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding: 1rem 4rem;
}

.logo {
    display: block;
    margin: 0 auto 1rem;
}

.title,
.title-2 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.content,
.content-2 {
    max-width: 600px;
    margin: 0 auto;
}

.content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.description,
.description-2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.button-group,
.button-group-2,
.button-group-3 {
    display: flex;
    flex-direction: column;
}

.button-group,
.button-group-2 {
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.button-group-2 {
    margin-bottom: 3rem;
}

.button-group-3 {
    gap: 15px;
}

.btn {
    border: none;
    cursor: pointer;
}

.btn,
.btn-2 {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
}

.btn-3 {
    padding: 10px 20px;
    font-size: 1em;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary-3 {
    border-radius: 5px;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.image-container-2 {
    overflow: hidden;
    max-height: 30vh;
}

.image-2 {
    max-width: 100%;
    border: 1px solid #e9ecef;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.image-section-3 {
    flex: 1;
}

.image-section-3 img {
    max-width: 75%;
    height: auto;
}

.text-section-3 {
    flex: 1;
}

.text-section-3 h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-section-3 p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-primary-3:hover {
    background-color: #0056b3;
}

.btn-secondary-3 {
    background-color: transparent;
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.btn-secondary-3:hover {
    background-color: #e2e6ea;
}

.sticky-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.sticky-btn {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 1em;
    background-color: #66007a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: -140px;
    left: -200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    display: none
}

.dropdown-item {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show-dropdown {
    display: block;
}

.light-svg,
.moon-svg {
    display: none;
}

@media screen and (min-width: 768px) {
    .button-group {
        flex-direction: row;
    }

    .button-group-2 {
        flex-direction: row;
    }

    .content-3 {
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 0;
    }

    .text-section-3 {
        text-align: left;
    }

    .button-group-3 {
        flex-direction: row;
        gap: 15px;
    }

    .image-section-3 img {
        max-width: 100%;
    }

    .button-group-3 {
        flex-direction: row;
    }
}